.checkout__success {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.checkout__success h2 {
  font-size: 25px;
}

.checkout__success i {
  margin-left: 0.5rem;
}
