.widget {
  display: flex;
  align-items: center;
}

.Text {
  position: relative;
  top: 9px;
}

.Text h3 {
  font-weight: 500;
  font-size: 17px;
}

.Text p {
  font-size: 14px;
  color: whitesmoke;
}
